.input:focus {
    outline: none;
    border: #bbffbb solid 2px;
}

.superInput {
    margin: 10px;

    background: black;
    color: #bbffbb;
}

.errorInput {
    margin: 10px;

    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}