.select {
    width: 100px;
    padding: 5px;
    padding-right: 30px;

    cursor: pointer;
    /*appearance: none;*/
    background-color: aqua;
    border: 2px inset rgb(118, 118, 118);
    color: #282c34;

}

.select:focus {
    outline: none;
    border: blue solid 2px;
}

.option {
    color: #2f4f94;
    background: aquamarine;
}

.option:checked {
    color: blue;
    background: #cdbbff;
}


.options:hover {
    box-shadow: 0 0 10px 100px aquamarine inset;
    transition: all .2s ease-in-out;
    background: red;
}