.radio {
    appearance: none;
    height: 10px;
    width: 10px;

    cursor: pointer;
    border-radius: 50%;
    outline: none;
    background: #61dafb;

}

.radio:hover {
    border: 2px solid #282c34;
}

.radio:checked {
    background:blue;
}

.radio:focus {
    border: 2px solid lightslategrey;
}
.label {
    cursor: pointer;
}
